.weather form {
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
}
.weather h1 {
  text-align: center;
}
.App p {
  text-align: center;
}

.container {
  border: 2px solid rgba(0, 0, 0, 0.308);
  padding: 7px;
  border-radius: 5px;
}
